// 动画样式
// .animate-halloween
//   opacity: 0
//   transform: translate(-2%, -2%)
//   animation: halloween 2.75s ease .75s 1 forwards

// @keyframes halloween
//   15%
//     opacity: 0
//   30%
//     opacity: 0.15
//   55%
//     opacity: 0.05
//   to
//     opacity: 0.3
//     transform: translate(0)

.l_body
  display: flex
  margin: auto
  padding: 0 var(--gap-l)
  justify-content: center

// .l_body .halloween-image
//   position: fixed
//   left: 0
//   bottom: 0
//   transform: translate(-2%, -2%)
//   display none
//   z-index: -10
//   height: 70vh
//   width: auto
//   color: transparent

// // 在暗色模式下设置 display: block
// @media (prefers-color-scheme: dark)
//   .l_body .halloween-image
//     display: block
// @media screen and (max-width: $device-mobile)
//   .l_body .halloween-image
//     display: none

.l_body .l_left
  z-index: 8
  width: var(--width-left)
  flex-shrink: 0
  position: sticky
  position: -webkit-sticky
  top: 0

.l_body .l_main
  flex-shrink: 1
  flex-grow: 1
  width: 320px
  max-width: var(--width-main)


// 手机布局
@media screen and (max-width: $device-mobile-max)
  .mobile-only
    display: block !important
  .l_body
    padding: 0
    .l_left
      position: fixed
      transform: translateX(-320px)
      margin: 0
      left: 0
      background: var(--site-bg)
      box-shadow: $boxshadow-card-float
      z-index: 9
    .l_main
      max-width: 100%
  .l_body.mobile
    .l_left
      transition: transform .3s ease-out
  .l_body.mobile.sidebar
    .l_left
      transform: translateX(0px)
